:root {
    --fondo-claro:#838179;
	--fondo-oscuro:#272624;
	
	--color-primario:#F4E742;
    --color-primario-oscuro:#D9CE3F; 
    --color-secundario-claro:#F14E2D;	
	--color-secundario-oscuro:#C13F24; 
    --color-blanco:#fff;
    --color-blanco--opaco:#E5E3E2;


	--fuente-primaria: 'Raleway', sans-serif;
	--fuente-secundaria: 'Roboto', sans-serif;
}

body{
    background-color: var(--fondo-oscuro);
    color: var(--color-blanco);
    font-family: var(--fuente-primaria);
    font-size: 16px;
}

.container {
    width: 90vw; /*PARA TENER 5% EN LADO IZQUIERDO Y OROS 5% EN EL LADO DERECHO DE LA PÃGINA*/
    height: 100hw;
    margin:0 auto;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,auto);
    grid-gap: 20px;
    display: grid;
    grid-template-areas:    "header header header"
                            "nav nav nav"
                            "content content section"
                            "content content section"
                            "footer footer footer";                        
}

/* .container > div,
.container .header,
.container .nav,
.container .content,
.container .section,
.container .footer {
    border-style: solid;
    border-color: var(--color-blanco);   
}  */


.container .header {
    grid-area:header;      
}

.container .nav {
    grid-area: nav;
}

.container .content {
    grid-area: content;  
}

.container .section {
    grid-area:section;
}

.container .footer {
    grid-area:footer;
}

